<div class="w-full p-5 m-5 mx-auto md:w-3/4">
  <div class="w-full p-5 shadow-lg">
    <div>
      <span class="mr-2 font-semibold">Message from parent:</span>
      <span>{{ receivetext }}</span>
    </div>
    <div>
      <input
        type="text"
        placeholder="send to parent"
        [(ngModel)]="sendresponse"
      />
      <button
        (click)="send()"
        class="px-3 ml-2 font-semibold text-white bg-green-700 rounded-lg h-11 hover:opacity-80"
      >
        Send
      </button>
    </div>
  </div>
</div>
